agents/dsl/endocrinologist.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: Endocrinologist
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.3.8@592c8252795b5f75807de2d609a03196ed02596b409f7642b4a07548c7ff57ef
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.2.0@4e5891a2f4fff19b005a662a1fadff0e56b62b2dd1b4a93bdffae83c5b38b05e
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: 1745322606486-llm
      source: '1745322606486'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: knowledge-retrieval
      id: llm-source-1745323684286-target
      source: llm
      sourceHandle: source
      target: '1745323684286'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1745323700589-source-answer-target
      source: '1745323700589'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1745323684286-source-1750340826275-target
      source: '1745323684286'
      sourceHandle: source
      target: '1750340826275'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1750340826275-source-1745323700589-target
      source: '1750340826275'
      sourceHandle: source
      target: '1745323700589'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: report
          max_length: 20000
          options: []
          required: true
          type: paragraph
          variable: report
        - label: eye_treatment
          max_length: 20000
          options: []
          required: true
          type: paragraph
          variable: eye_treatment
      height: 135
      id: '1745322606486'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params: {}
          mode: chat
          name: gpt-5
          provider: langgenius/openai/openai
        prompt_template:
        - id: ce13ac56-c545-433d-baec-5e7dfeb1f16d
          role: system
          text: 你需要分别用一句话精准概括提供给你的病例报告和治疗方案初稿的内分泌相关部分，用于检索相应的内分泌治疗方案。不用加入与内分泌治疗方案检索无关的个人信息等;常见术语应加上字母缩写（如黄斑水肿DME），便于检索。你的输出只有用于概括病历报告和治疗方案初稿的两句话
        - id: 794989ae-8ce7-4fe1-b998-1430feff7b12
          role: assistant
          text: '病例报告{{#1745322606486.report#}};

            治疗方案初稿{{#1745322606486.eye_treatment#}}'
        selected: false
        title: abstract
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: llm
      position:
        x: 393.9330392500872
        y: 285.3110130833624
      positionAbsolute:
        x: 393.9330392500872
        y: 285.3110130833624
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1745323700589.text#}}'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 103
      id: answer
      position:
        x: 1564
        y: 269
      positionAbsolute:
        x: 1564
        y: 269
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - hVAGBwnMoprABnT7kZ52SdxLC71qkzZrKu+r7Z3I0GsdegwKPyhTQk4C4HRInVUr
        desc: ''
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: gte-rerank-v2
            provider: langgenius/tongyi/tongyi
          score_threshold: null
          top_k: 3
          weights:
            keyword_setting:
              keyword_weight: 0.5
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 0.5
        query_attachment_selector: []
        query_variable_selector:
        - llm
        - text
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 90
      id: '1745323684286'
      position:
        x: 670
        y: 292
      positionAbsolute:
        x: 670
        y: 292
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1745323684286'
          - result
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params: {}
          mode: chat
          name: gpt-5
          provider: langgenius/openai/openai
        prompt_template:
        - id: d1969ab1-9a06-42e5-85b5-e24b8133c7dc
          role: system
          text: '你是一个内分泌专家，请你根据提供给你的患者病例和糖尿病眼科专家提供的治疗方案，结合糖尿病防治指南，仅针对内分泌相关内容而不考虑眼科，回答以下问题：

            1.您[是/否]完全赞同糖尿病眼科专家提供的治疗方案中关于内分泌的部分？请根据患者的情况明确说明。

               -如果[是]完全赞同，请直接回复“是”，并给出理由

               -如果[否]完全赞同，请回复"否"，提供原因并给出您的替代方案，包括可能的效果与风险。'
        - id: 51fff0d0-5506-435c-ba05-c7f48f250084
          role: assistant
          text: '患者病例{{#1745322606486.report#}}；

            糖尿病眼科专家提供的治疗方案{{#1745322606486.eye_treatment#}}；

            糖尿病防治指南{{#context#}}'
        selected: true
        title: nei_doctor
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1745323700589'
      position:
        x: 1282.7898190607782
        y: 292
      positionAbsolute:
        x: 1282.7898190607782
        y: 292
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1745323684286'
          - result
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: gpt-5
          provider: langgenius/openai/openai
        prompt_template:
        - id: 22380dc8-1856-4be8-a01d-798b2b240c91
          role: system
          text: 你需要进根据患者的患病情况和治疗方案，对指南知识库进行内容提取，务必保留和当前患者及治疗方案相关的所有的指南信息，请仅输出你提取后的指南信息，不添加其他内容
        - id: 08e771f7-1237-4a73-951f-706b44068333
          role: assistant
          text: '这是患者病历报告{{#1745322606486.report#}}，

            这是眼科智能体生成的治疗方案{{#1745322606486.eye_treatment#}}}

            这是相关指南知识库{{#context#}}'
        selected: false
        title: transformer
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1750340826275'
      position:
        x: 989.3110130833625
        y: 292
      positionAbsolute:
        x: 989.3110130833625
        y: 292
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -217.481268725973
      y: 63.9500020019737
      zoom: 0.8815912574041382
  rag_pipeline_variables: []
