agents/dsl/laser_surgeon.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: Laser surgeon
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.3.8@592c8252795b5f75807de2d609a03196ed02596b409f7642b4a07548c7ff57ef
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.2.0@4e5891a2f4fff19b005a662a1fadff0e56b62b2dd1b4a93bdffae83c5b38b05e
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1739966903993-source-1739967013995-target
      source: '1739966903993'
      sourceHandle: source
      target: '1739967013995'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: knowledge-retrieval
      id: 1739967013995-source-1739967041522-target
      source: '1739967013995'
      sourceHandle: source
      target: '1739967041522'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1739967041522-source-1750340186103-target
      source: '1739967041522'
      sourceHandle: source
      target: '1750340186103'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1750340186103-source-llm-target
      source: '1750340186103'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: report
          max_length: 8192
          options: []
          required: true
          type: paragraph
          variable: report
        - label: eye_treatment
          max_length: 8192
          options: []
          required: true
          type: paragraph
          variable: eye_treatment
      height: 135
      id: '1739966903993'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1739967041522'
          - result
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params: {}
          mode: chat
          name: gpt-5
          provider: langgenius/openai/openai
        prompt_template:
        - id: a1761c42-b855-4aed-8fa6-bac37581ce91
          role: system
          text: '你是一个激光光凝手术专家，请你根据提供给你的患者病例（已包含检查结果）、糖尿病视网膜病变眼科专家提供的治疗方案，遵循光凝指南，回答以下问题：

            1.您[是/否]完全赞同糖尿病眼科专家提供的治疗方案？重点审核糖尿病眼科专家的抗VEGF药物，激光手术以及手术参数（如有）：

               -如果您[是]完全赞同，请仅直接回复“是”

               -如果您[否]完全赞同，请回复"否"，提供原因并给出您的替代方案和依据的指南信息。

            注意方案只针对当下情况！避免过度治疗！'
        - id: cd3048ba-9b4f-438b-bf5c-b02e3b252dc0
          role: user
          text: 患者病例{{#1739966903993.report#}};修改后的治疗方案{{#1739966903993.eye_treatment#}}；光凝指南{{#context#}}
        selected: true
        title: SURG_doctor
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: llm
      position:
        x: 1308.414361239225
        y: 290.1519458356354
      positionAbsolute:
        x: 1308.414361239225
        y: 290.1519458356354
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#llm.text#}}'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 103
      id: answer
      position:
        x: 1580
        y: 282
      positionAbsolute:
        x: 1580
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: gpt-5
          provider: langgenius/openai/openai
        prompt_template:
        - id: ef470b67-003b-4483-8e37-8b9565e2b8b7
          role: system
          text: 你需要分别用一句话精准概括提供给你的病例报告和治疗方案初稿，用于检索相应的治疗方法。不用加入与治疗方案检索无关的个人信息\治疗建议等;常见术语应加上字母缩写（如黄斑水肿DME），便于检索。你的输出只有用于概括病历报告和治疗方案初稿的两句话
        - id: b7e67ee5-57dc-4e1c-9381-41502d005f79
          role: user
          text: '病例报告{{#1739966903993.report#}};

            治疗方案初稿{{#1739966903993.eye_treatment#}}'
        selected: false
        title: ABSTRACT
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1739967013995'
      position:
        x: 380.0000000000001
        y: 282
      positionAbsolute:
        x: 380.0000000000001
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - CN4jTMnYU27DP5dtvdA9d/ZktSGzr5SyO1IDWuPC8odqk28hq+EOyrW9IHn0hCBy
        desc: ''
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: null
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1739967013995'
        - text
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 90
      id: '1739967041522'
      position:
        x: 681.3195079107727
        y: 282
      positionAbsolute:
        x: 681.3195079107727
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1739967041522'
          - result
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: gpt-5
          provider: langgenius/openai/openai
        prompt_template:
        - id: 49170a3d-8905-416a-af9d-7e647c8a958c
          role: system
          text: 你需要进根据患者的患病情况和治疗方案，对指南知识库进行内容提取，务必保留和当前患者及治疗方案相关的所有的指南信息，请仅输出你提取后的指南信息，不添加其他内容
        - id: 3946fb2d-5895-4db4-b620-788fbe3976ac
          role: user
          text: '这是患者病历报告{{#1739966903993.report#}}}，

            这是眼科智能体生成的治疗方案{{#1739966903993.eye_treatment#}}}

            这是相关指南知识库{{#context#}}，'
        selected: false
        title: transformer
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1750340186103'
      position:
        x: 982.4041174505478
        y: 282
      positionAbsolute:
        x: 982.4041174505478
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 186.691504242978
      y: 132.44862825692718
      zoom: 0.6433324490047161
  rag_pipeline_variables: []
