agents/dsl/nurse.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: Nurse
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.3.8@592c8252795b5f75807de2d609a03196ed02596b409f7642b4a07548c7ff57ef
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1740650285427-source-1752807759293-target
      source: '1740650285427'
      sourceHandle: source
      target: '1752807759293'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1752807759293-true-llm-target
      source: '1752807759293'
      sourceHandle: 'true'
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1752807759293-da048119-1f53-4401-8629-9ea51d011371-17528077886360-target
      source: '1752807759293'
      sourceHandle: da048119-1f53-4401-8629-9ea51d011371
      target: '17528077886360'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17528077886360-source-17528078094300-target
      source: '17528077886360'
      sourceHandle: source
      target: '17528078094300'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: fundation_treatment
          max_length: 8192
          options: []
          required: true
          type: paragraph
          variable: fundation_treatment
        - label: combined_treatment
          max_length: 8192
          options: []
          required: true
          type: paragraph
          variable: combined_treatment
        - label: type
          max_length: 48
          options: []
          required: true
          type: paragraph
          variable: type
      height: 160
      id: '1740650285427'
      position:
        x: 81
        y: 282
      positionAbsolute:
        x: 81
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params: {}
          mode: chat
          name: gpt-5
          provider: langgenius/openai/openai
        prompt_template:
        - id: 29b95912-ebf1-46ed-8e3a-cda882d11654
          role: system
          text: "\"您是一位医生，需要整合以下两个治疗方案：\\n\"\n        \"1. 眼科手术治疗方案\\n\"\n       \
            \ \"2. 内分泌治疗方案\\n\\n\"\n        \"整合要求：\\n\"\n        \"- 保留所有关键医疗信息，特别是抗VEGF注射频率、手术参数、血糖控制目标等\\\
            n\"\n        \"- 必须完整写出所有眼科治疗参数，禁止使用'如眼科方案所示'等模糊表述\\n\"\n        \"- 眼科治疗相关以眼科手术治疗方案为主，内分泌相关以内分泌治疗方案为主\\\
            n\"\n        \"- 确保方案逻辑正确，不存在冲突\\n\"\n        \"- 输出应该是正常临床方案，不应存在“在医生指导下”等话术\\\
            n\"\n        \"- 组织成结构清晰的综合治疗方案\\n\"\n        \"- 不要添加新内容，只整合已有信息，不添加病例报告，只整合治疗方案\\\
            n\"\n        \"- 按照原有的模板进行整合\\n\\n\"\n        \"特别重要：必须完整保留所有眼科治疗细节！不要省略任何参数！\"\
            \n"
        - id: 1f28296b-1c64-4670-b425-15d035dc5689
          role: user
          text: '这是眼科手术治疗方案{{#1740650285427.fundation_treatment#}}

            这是内分泌治疗方案{{#1740650285427.combined_treatment#}}'
        selected: false
        title: combine
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: llm
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#llm.text#}}'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 103
      id: answer
      position:
        x: 980
        y: 282
      positionAbsolute:
        x: 980
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 85049ae0-0cc2-4a97-9825-59a5a9144cfe
            value: combine
            varType: string
            variable_selector:
            - '1740650285427'
            - type
          id: 'true'
          logical_operator: and
        - case_id: da048119-1f53-4401-8629-9ea51d011371
          conditions:
          - comparison_operator: contains
            id: 418dd636-2c3f-434d-83a7-406728788cd6
            value: final
            varType: string
            variable_selector:
            - '1740650285427'
            - type
          id: da048119-1f53-4401-8629-9ea51d011371
          logical_operator: and
        desc: ''
        selected: false
        title: 条件分支
        type: if-else
      height: 172
      id: '1752807759293'
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params: {}
          mode: chat
          name: gpt-5
          provider: langgenius/openai/openai
        prompt_template:
        - id: 29b95912-ebf1-46ed-8e3a-cda882d11654
          role: system
          text: "\"您是一位医生，需要根据药学专家的讨论结果修改治疗方案：\\n\"\n        \"1. 以整合方案为基础\\n\"\n\
            \        \"2. 仅修改药物使用部分（药物选择、剂量、禁忌等）\\n\"\n        \"3. 必须完整保留所有非药物相关的治疗方案（手术、激光等）及其所有参数细节\\\
            n\"\n        \"4. 确保方案逻辑一致，无冲突\\n\\n\"\n        \"整合要求：\\n\"\n       \
            \ \"- 不要改变治疗方案的整体结构，不添加病例报告，只整合治疗方案\\n\"\n        \"- 眼科治疗方案必须完整保留，包括所有激光参数、手术细节等\\\
            n\"\n        \"- 输出应该是正常临床方案，不应存在“在医生指导下”等话术\\n\"\n        \"- 仅修改药学专家指出的药物相关问题\\\
            n\"\n        \"- 如果药学专家没有提出修改建议，保持原方案不变\"\n"
        - id: 3546db04-3cbb-4c57-a80b-3693417b2945
          role: user
          text: '这是已整合方案{{#1740650285427.fundation_treatment#}}

            这是药学专家的讨论结果{{#1740650285427.combined_treatment#}}'
        selected: true
        title: final
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '17528077886360'
      position:
        x: 680
        y: 453
      positionAbsolute:
        x: 680
        y: 453
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#17528077886360.text#}}'
        desc: ''
        selected: false
        title: 直接回复 (1)
        type: answer
        variables: []
      height: 103
      id: '17528078094300'
      position:
        x: 975
        y: 442
      positionAbsolute:
        x: 975
        y: 442
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 127.32278124699337
      y: 17.074418161464223
      zoom: 0.8815912549960212
  rag_pipeline_variables: []
