agents/dsl/style_transfer.yml
app:
  description: 将口语化的描述转化为医生专业描述
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: Style transfer
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/cohere:0.0.3@ba2b83043640727790f851f3b7d5f13019834a302c953ea7db625fba0f6cff16
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.3.8@592c8252795b5f75807de2d609a03196ed02596b409f7642b4a07548c7ff57ef
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1733743336670-source-1733819872571-target
      source: '1733743336670'
      sourceHandle: source
      target: '1733819872571'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: if-else
      id: 1733819872571-source-1734511032737-target
      source: '1733819872571'
      sourceHandle: source
      target: '1734511032737'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1734511032737-true-1733819875795-target
      source: '1734511032737'
      sourceHandle: 'true'
      target: '1733819875795'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: end
      id: 1734511032737-107b9093-073a-49c4-985a-87bcd4d48770-1733820362101-target
      source: '1734511032737'
      sourceHandle: 107b9093-073a-49c4-985a-87bcd4d48770
      target: '1733820362101'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1733819875795-source-1735546491450-target
      source: '1733819875795'
      sourceHandle: source
      target: '1735546491450'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1735546491450-source-1734511824873-target
      source: '1735546491450'
      sourceHandle: source
      target: '1734511824873'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: GPT_report
          max_length: 8192
          options: []
          required: true
          type: paragraph
          variable: GPT_report
      height: 109
      id: '1733743336670'
      position:
        x: -265
        y: 282
      positionAbsolute:
        x: -265
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - lBHE0YnnotcOV098nZ32Fhvp7sSKCtOqIQqZEDV0k+3SW3rNtz90bBicJXAbsLoM
        desc: ''
        metadata_filtering_mode: disabled
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: rerank-multilingual-v3.0
            provider: langgenius/cohere/cohere
          score_threshold: null
          top_k: 5
          weights:
            keyword_setting:
              keyword_weight: 0.5
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: openai
              vector_weight: 0.5
        query_attachment_selector: []
        query_variable_selector:
        - '1733743336670'
        - GPT_report
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 90
      id: '1733819872571'
      position:
        x: 106.48377885675046
        y: 283.3062712851055
      positionAbsolute:
        x: 106.48377885675046
        y: 283.3062712851055
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1733819872571'
          - result
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: gpt-5
          provider: langgenius/openai/openai
        prompt_template:
        - id: 6981e8df-4cf3-442f-a480-19674ea31521
          role: system
          text: '你的工作是进行语言风格的修改，{{#context#}}中提供了源文本和对应的目标文本，源文本是需要修改的文本，目标文本是修改后的文本。你需要对其中的修改进行学习，仿照目标文本对源文本的修改来修改{{#1733743336670.GPT_report#}}的语言风格，使它更符合真实的病例报告即目标文本，句式仍然保留“xx:xxx”的形式，仅以一句话的形式输出。

            注意不要改句子的原意！！！'
        selected: false
        title: 风格转换
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1733819875795'
      position:
        x: 702
        y: 197
      positionAbsolute:
        x: 702
        y: 197
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1733743336670'
          - GPT_report
          variable: GPT_report
        selected: false
        title: 结束
        type: end
      height: 88
      id: '1733820362101'
      position:
        x: 691
        y: 478
      positionAbsolute:
        x: 691
        y: 478
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: 60935496-f21e-4080-b085-16ce1b2b5dcc
            value: ''
            varType: array[object]
            variable_selector:
            - '1733819872571'
            - result
          id: 'true'
          logical_operator: and
        - case_id: 107b9093-073a-49c4-985a-87bcd4d48770
          conditions:
          - comparison_operator: empty
            id: fcb12d5d-8b5f-415a-afcc-76603750e01f
            value: ''
            varType: array[object]
            variable_selector:
            - '1733819872571'
            - result
          id: 107b9093-073a-49c4-985a-87bcd4d48770
          logical_operator: and
        desc: ''
        selected: false
        title: 条件分支
        type: if-else
      height: 172
      id: '1734511032737'
      position:
        x: 395
        y: 257
      positionAbsolute:
        x: 395
        y: 257
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1735546491450'
          - text
          variable: fin_report
        selected: false
        title: 结束 2
        type: end
      height: 88
      id: '1734511824873'
      position:
        x: 1426
        y: 184
      positionAbsolute:
        x: 1426
        y: 184
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: gpt-5
          provider: langgenius/openai/openai
        prompt_template:
        - id: e7a68801-b550-4233-9ecd-7f4da1666a85
          role: system
          text: 如果{{#1733819875795.text#}}中出现关于诊断结果的描述信息（如xx糖尿病视网膜病变），请删除. 句式仍然保留“xx  :xxx”的形式，仅以一句话的形式输出。
        selected: true
        title: 描述精简
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1735546491450'
      position:
        x: 1061
        y: 179
      positionAbsolute:
        x: 1061
        y: 179
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 493.7130776437019
      y: 87.45738959454684
      zoom: 0.7655377649361977
  rag_pipeline_variables: []
